html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  line-height: 1.45;
  color: #3f3f3f;
  background: url('img/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#blockPage {
  width: 80%;
  margin: auto;
}

.back {
  position: absolute;
  opacity: 0.8;
  height: 25px;
  width: 25px;
  margin-left:30px;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
  border: solid #3f3f3f 3px;
  transition: 0.2s;
}
.back:hover {
  border-width: 5px;
}

h1 {
font-size: 2.6em;
font-family: inherit;
font-weight: 300;
line-height: 1.1;
color: inherit;
text-align: center;
}

.sep {
  border: dashed black 1px;
  width: 100%;
}

.row {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  border-spacing: 10px;
    border-collapse: separate;
}

.column {
  display: table-cell;
  width: 23%;
  height: 100%;
  margin: 0.5%;
  position:relative;
  overflow: hidden;
  vertical-align: top;
}

.card img {
  width: 100%;
  vertical-align: middle;
}

.helper {
  display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.imgWrap {
  height: 50%;
  overflow: hidden;
}

.container {
    width: 100%;
    height: 50%;
    display: block;
    overflow:hidden;
}

.card {
  top:0;
  padding: 10px;
  background-color: #8e8e8e;
  transition: .5s;
  position: relative;
  height: 100%;
  width: auto;

}

.msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 10;
  transition: .5s ease;
}
.msg span {
  display: block;
  color: black;
  margin-top: 50%;
  font-size: 5em;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity:0;
}
