/* Style Ressources CSS */
#Telechargements a
{
	text-decoration: underline;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	color: #1D4851;
}

#Telechargements em{
	font-weight: bold;
}

#Anim{
	width : 60%;
}

#AnimExpliq
{
	width: 30%;
}

#Anim, #AnimExpliq
{
	vertical-align: middle;
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
}

#bucheron
{
	height: 186px;
	width: 449px;
	border: solid #1D4851 3px;
}

#zone
{
	color: white;
	background: #1D4851;
	width: 1000px;
	height: 300px;
	margin: 9px;
	overflow: scroll
	}
