.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #eea9b8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
  horizontal-align: center;
}

body html {
  background-color: #f6d2db;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#butbut
{
	width:100%;
	text-align: center;
	margin-top: 50vh;
	transform: translateY(-50%);
}

#dot
{
	font-size:100px;
}

img {
  width : 100%;
}
